!!! 5
%html
  %head
    %title Bomb for Overlord
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE-edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  %body
    %script(type='text/javascript'
            src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    %script(type='text/javascript'
            src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    %script(type='text/javascript' src='js/bomb.js')

    %br
    .container
      %form#bomb_form
        %input#set.form-control(type = 'hidden' value = 'false' name = 'set')
        %input#action.form-control(type = 'hidden' value = 'none' name = 'action')
        .row
          .col-sm-8
            .form-group
              %input#display.form-control(readonly name = 'display' maxlength = 4)
          .col-sm-4
            .form-group
              %input#status.form-control(readonly name = 'status')

      .row
        .col-sm-8
          .col-sm-4
            .form-group
              %button.btn.btn-default.keypad(onclick = 'input_from_keypad(1)') 1
          .col-sm-4
            .form-group
              %button.btn.btn-default.keypad(onclick = 'input_from_keypad(2)') 2
          .col-sm-4
            .form-group
              %button.btn.btn-default.keypad(onclick = 'input_from_keypad(3)') 3
        .col-sm-4
          .form-group
            %button.btn.btn-danger(onclick = "set_action('TIMER')") TIMER

      .row
        .col-sm-8
          .col-sm-4
            .form-group
              %button.btn.btn-default.keypad(onclick = 'input_from_keypad(4)') 4
          .col-sm-4
            .form-group
              %button.btn.btn-default.keypad(onclick = 'input_from_keypad(5)') 5
          .col-sm-4
            .form-group
              %button.btn.btn-default.keypad(onclick = 'input_from_keypad(6)') 6
        .col-sm-4
          .form-group
            %button.btn.btn-danger(onclick = "set_action('ACTIVATE')" ) ACTIVATE

      .row
        .col-sm-8
          .col-sm-4
            .form-group
              %button.btn.btn-default.keypad(onclick = 'input_from_keypad(7)') 7
          .col-sm-4
            .form-group
              %button.btn.btn-default.keypad(onclick = 'input_from_keypad(8)') 8
          .col-sm-4
            .form-group
              %button.btn.btn-default.keypad(onclick = 'input_from_keypad(9)') 9
        .col-sm-4
          .form-group
            %button.btn.btn-success(onclick = "set_action('DEACTIVATE')") DEACTIVATE

      .row
        .col-sm-8
          .col-sm-4
            .form-group
              %button.btn.btn-warning(onclick = 'set_modifier()') SET
          .col-sm-4
            .form-group
              %button.btn.btn-default.keypad(onclick = 'input_from_keypad(0)') 0
          .col-sm-4
            .form-group
              %button.btn.btn-warning(onclick = 'clear_display()') CLEAR
        .col-sm-4
          .form-group
            %button.btn.btn-danger(onclick = 'turn_on()') ON

      .row
        .col-sm-12
          .form-group
            %button.btn.btn-danger.btn-block(onclick = 'submit_bomb()') ENTER


